# Сервер
PORT=5000
HOST=localhost
DEBUG=True

# Настройки
MAX_CONTENT_LENGTH=16777216
ALLOWED_EXTENSIONS=png,jpg,jpeg,gif,webp,bmp
OUTPUT_FORMAT=png

# Секретный ключ
SECRET_KEY=bc24b5f68c73eea3af6b45c92905f495d71cba6986e2dc8b543909ba5eae5eca

# API ключи
GOOGLE_RECAPTCHA_SITE_KEY=
GOOGLE_RECAPTCHA_SECRET_KEY=
